table {
    width: 90%;
    margin-top: 0%;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
    border: 1px solid black;
    text-align: center;
    border-collapse: separate!important;
}
td {
    border: 1px solid black;
    text-align: center;
}
th {
    border: 1px solid black;
    text-align: center;
    background-color: #E0E0E0;
}
.selectedCol, .selectedRow { 
    background-color: #ace !important; 
}
.td-divider {
    background-color: #E0E0E0;
}
strong, div {
    text-align: center;

}