doctype html
html
  head
    style.
      body {
        font-family: Arial, sans-serif;
      }
      .navbar-custom-aba {
        overflow: hidden;
        background-color: #333;
      }
      .navbar-custom-aba a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      .navbar-custom-abab a:hover {
        background-color: #ddd;
        color: black;
      }
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  body
    div.navbar-custom-aba
      a(href='/') Home
      a(href='/unprotected_opening') Unprotected Openings
      a(href='/upo_charts') UPO Charts
      a(href='/aggregate_area') Aggregate Area