doctype html
html
    head
        title Unprotected Opening Charts
        include ./navbar.pug
        script(src='./js/upo_charts.js')
        script(src='./js/upo_chart_creation.js')
    body
    style.
        table, td {
            border: 1px solid black;
            text-align: center;
        }
        th {
            border: 1px solid black;
            text-align: center;
            background-color: #E0E0E0;
        }
        .selectedCol, .selectedRow { 
            background-color: #ace !important; 
        }
        .td-divider {
            background-color: #E0E0E0;
        }
    h1 UPO Chart Lookup
    br
    br
    strong Choose Table type:
    br
    select.form-select(aria-label='Default select example' id='tableType')
      option(value='B') 3.2.3.1.B.
      option(value='C') 3.2.3.1.C.
      option(value='D') 3.2.3.1.D
      option(value='E') 3.2.3.1.E
    br
    br
    strong(id="chart_info") 
    br
    table(id="upo_chart")